/* toute la hauteur de la fenêtre */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MonaSans-Regular.woff2') format('woff2'),
       url('fonts/MonaSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MonaSans-Medium.woff2') format('woff2'),
       url('fonts/MonaSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/MonaSans-SemiBold.woff2') format('woff2'),
       url('fonts/MonaSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Mona Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/MonaSans-Bold.woff2') format('woff2'),
       url('fonts/MonaSans-Bold.woff') format('woff');
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
    font-family: 'Mona Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    background: radial-gradient(circle, rgba(212,212,212,1) 0%, rgba(43,43,43,1) 100%);
    padding-top: 10px;
    overflow-x: hidden;
    min-height: 100vh;
}

.hero-content {
  font-family: 'Mona Sans', Arial, Helvetica, sans-serif;
}

.bg-container {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 25px;
}

#smoke-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0.5;
  mask-image: radial-gradient(circle at center, transparent 60%, black 75%);
}

main {
    flex: 1;
}

.container {
    flex: 1;
}

/* Styles du pied de page */
footer {
    font-family: 'Mona Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: #222;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.footer-left, .footer-right {
    color: #ffffff;
    font-size: 14px;
}

.scroll-indicator {
    position: absolute;
    bottom: 20px;
}

.scroll-indicator a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    animation: bounce 2s infinite;
}

.scroll-indicator2 {
    position: absolute;
    bottom: 20px;
}

.scroll-indicator2 a {
    color: #555;
    font-size: 24px;
    text-decoration: none;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
    40% { transform: translateY(10px); }
    60% { transform: translateY(5px); }
}

/* Boutons modernes */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}

.btn:hover {
    background-color: #555;
}

/* Scroll enhance */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b1b1;
    border-radius: 10px;
}

/* Style pour le modal */
.container-profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

#profileModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 7;
}

.modal-content {
  background-color: transparent !important;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  color: white;
  border: none !important;
  box-shadow: none !important;
  z-index: 7;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 45px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.close-btn:hover {
  color: #fff;
}

.user-card {
  margin: 20px auto;
  padding: 20px;
  background: #2b2b2b !important;
  color: #fff;
  border-radius: 10px;
  max-width: 200px;
  text-align: center;
  z-index: 7;
}

/* Section 1 */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

/* Section 2 */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-menu li {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-menu a,
.dropdown-nav .dropdown-toggle-nav {
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s, border-radius 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-menu a:hover,
.dropdown-nav .dropdown-toggle-nav:hover {
  border-radius: 4px;
}

/* Dropdown */
.dropdown-nav .dropdown-toggle-nav {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.dropdown-nav .arrow {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg) translate(5px, 2px);
  transition: transform 0.3s ease;
}

.dropdown.open .arrow {
  transform: rotate(135deg) translate(-1px, -4px);
}

.dropdown-nav .dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  list-style: none;
  padding: 10px 0;
  text-align: center;
  z-index: 50;
}

.dropdown-nav .dropdown-menu {
  display: none;
}

.dropdown-nav .dropdown-menu.open {
  display: block;
}

.dropdown-nav .dropdown-menu li {
  display: inline-block;
  width: 100%;
}

.dropdown-nav .dropdown-menu a {
  padding: 8px 0px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

/* Section 3 */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.discord-logo i {
  font-size: 24px;
  color: #ffffff;
}

.discord-logo i:hover {
  color: #cccccc;
}

.login-btn {
  padding: 8px 12px;
  background-color: #555555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #7a7a7a;
}

/* Animation nav links*/
.navbar-menu a,
.dropdown-nav .dropdown-toggle-nav {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 8px 0;
    transition: color 0.3s ease;
    display: inline-block;
    margin: 0 20px;
}

.navbar-menu a:hover::after,
.dropdown-nav .dropdown-toggle-nav:hover::after {
    width: 100%;
}

.navbar-menu a::after,
.dropdown-nav .dropdown-toggle-nav::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform 0.6s cubic-bezier(.19, 1, .22, 1);
}

.navbar-menu a:hover::after,
.-nav .dropdown-toggle-nav:hover::after {
    width: 100%;
}

.navbar-menu a:hover::after,
.dropdown-nav .dropdown-toggle-nav:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
}

.navbar-menu a:not(:hover)::after,
.dropdown-nav .dropdown-toggle-nav:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right center;
}

/* Barre nav principale */
.navbar {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
  border-radius: 12px;
  padding: 10px 20px;
  width: 100%;
  max-width: 1200px;
  z-index: 5;

  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Section gauche */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 30px;
  height: 30px;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

/* Section menu */
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-menu li {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-menu a,
.dropdown-nav .dropdown-toggle-nav {
  color: #fff;
  text-decoration: none;
  padding: 8px 0px;
  transition: background-color 0.3s, border-radius 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbar-menu a:hover,
.dropdown-nav .dropdown-toggle-nav:hover {
  border-radius: 4px;
}

/* Dropdown */
.dropdown-nav .dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  list-style: none;
  padding: 10px 0;
  text-align: center;
  z-index: 50;
}

.dropdown.open .dropdown-menu {
  display: block;
}


/* Section droite */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.discord-logo i {
  font-size: 24px;
  color: #ffffff;
}

.discord-logo i:hover {
  color: #cccccc;
}

.login-btn {
  padding: 8px 12px;
  background-color: #555555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #7a7a7a;
}

/* Animation pour les liens de la navbar et les dropdown toggles */
.navbar-menu a,
.dropdown-nav .-nav,
.user-avatar-dropdown .dropdown-menu a {
  position: relative;
  color: #fff;
  text-decoration: none;
  padding: 8px 0;
  transition: color 0.3s ease;
  display: inline-block;
}

.navbar-menu a:hover::after,
.dropdown-nav .dropdown-toggle-nav:hover::after,
.user-avatar-dropdown .dropdown-menu a:hover::after {
  width: 100%;
}

.navbar-menu a::after,
.dropdown-nav .dropdown-toggle-nav::after,
.user-avatar-dropdown .dropdown-menu a::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.6s cubic-bezier(.19, 1, .22, 1);
}

.navbar-menu a:hover::after,
.dropdown-nav .dropdown-toggle-nav:hover::after,
.user-avatar-dropdown .dropdown-menu a:hover::after {
  transform: scaleX(1);
  transform-origin: left center;
}


/* Responsive Design */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .navbar-menu {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .navbar-right {
    flex-wrap: wrap;
    gap: 10px;
  }

  .logo-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 90%;
  }

  .navbar-menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar-right {
    justify-content: center;
  }

  .dropdown-nav .dropdown-menu {
    top: calc(100% + 5px);
    transform: translateX(0);
    left: 0;
    right: 0;
  }
}

/* Styles user dropdown */

.user-avatar-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #868686;
}

.user-avatar-dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  background-color: #2b2b2b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  list-style: none;
  padding: 10px 0;
  min-width: 100px;
  z-index: 50;
  text-align: center;
}

.user-avatar-dropdown.open .dropdown-menu {
  display: block;
}

.user-avatar-dropdown .dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 5px 0px;
}

.user-avatar-dropdown .dropdown-menu a {
  padding: 8px 0px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}