body {
    background: radial-gradient(circle, rgba(82,82,82,1) 0%, rgba(43,43,43,1) 100%);
}

.container {
    font-family: 'Mona Sans', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.selected-mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.selected-mode {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    color: #fff;
}

.intuitive-mode {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
}

.tab-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.tab-buttons button {
    border: 2px solid #fff;
    padding: 5px 30px;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 200px;
    max-width: 100%;
    display: inline-block;
}

.tab-buttons button:hover,
.tab-buttons .active {
    background-color: #fff;
    color: #2b2b2b;
}

.filter-section {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters-container {
    display: flex;
    /*flex-wrap: wrap; stack filters*/ 
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.filter {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #2b2b2b;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
    z-index: 10;
}

.filter:hover {
    z-index: 10;
    transform: translateY(-1px);
}

.filter input,
.filter select {
    position: relative;
    margin-right: 8px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    flex: 1;
}

.filter input {
    position: relative;
    background-color: #ffffff;
    color: #2b2b2b;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

.filter input::placeholder {
    color: #2b2b2b;
}

.filter select {
    background-color: #ffffff;
    color: #2b2b2b;
}

.filter input:focus {
    border: 2px solid #616161;
}

.filter input:focus::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border: 2px solid #2b2b2b;
    border-radius: 8px;
    pointer-events: none;
    z-index: 0;
}


.filter-actions {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}

.add-filter-btn,
.apply-filters-btn,
.clear-filters-btn {
    width: 40px;
    height: 40px;
    background-color: #2b2b2b;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.add-filter-btn:before {
    content: "+";
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 80%;
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.add-filter-btn:hover {
    background-color: #3a3a3a;
}


.add-filter-btn:hover,
.apply-filters-btn:hover,
.clear-filters-btn:hover {
    background-color: #3a3a3a;
}

.filter-options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 20;
    padding: 10px;
    border-radius: 10px;
    background-color: #2b2b2b;
    border: 1px solid rgba(255, 255, 255, 0.8);
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.filter-options button {
    display: block;
    padding: 8px 12px;
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.filter-options button:hover {
    background-color: #4d4d4d;
}

.add-filter:hover .filter-options,
.filter-options:hover {
    display: block;
}

.remove-filter-btn {
    background-color: #555555;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.remove-filter-btn:hover {
    background-color: #444444;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 5%;
    width: auto;
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #3a3a3a;
    border: 1px solid #555555;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}

.suggestions.active {
    display: block;
}

.suggestions div {
    padding: 8px 12px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.suggestions div:hover {
    background-color: #4d4d4d;
}

.suggestion-item {
    padding: 8px 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

table {
    max-width: 1300px !important;
    border-collapse: separate;
    border-spacing: 0 0px !important;
    border-radius: 15px;
    margin: 0 auto;
    padding: 7px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
    animation: fadeInUp 1s ease-in-out;
}

thead {
    border-radius: 15px;
    overflow: hidden;
}

thead th {
    text-align: center;
    padding-top: 30px;
    padding: 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    border-collapse: separate;
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

thead th:first-child {
    border-top-left-radius: 22px;
}

thead th:last-child {
    border-top-right-radius: 22px;
}

tbody tr:first-child td:first-child{
    border-top-left-radius: 22px;
}

tbody tr:first-child td:last-child{
    border-top-right-radius: 22px;
}

tbody tr:last-child td:first-child {
    border-bottom-left-radius: 22px;
}

tbody tr:last-child td:last-child {
    border-bottom-right-radius: 22px;
}

.results-table {
    position: relative;
    width: 100%;
    max-width: 1300px !important;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 25px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 7px;
    box-sizing: border-box;
    /* overflow: hidden; */
    z-index: 0;
}

.results-table2 {
    position: relative;
    width: 100%;
    max-width: 850px !important;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 25px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 7px;
    box-sizing: border-box;
    /* overflow: hidden; */
    z-index: 0;
}

.results-table3 {
    position: relative;
    width: 100%;
    max-width: 850px !important;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 25px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding: 7px;
    box-sizing: border-box;
    /* overflow: hidden; */
    z-index: 0;
}

.results-table:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    pointer-events: none;
    z-index: 15;
}

.results-table2:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    pointer-events: none;
    z-index: 15;
}

.results-table3:before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    pointer-events: none;
    z-index: 15;
}

.results-table th, .results-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
    z-index: 0;
    border: none;
}

.results-table td {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}

.results-table2 th, .results-table2 td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
    z-index: 0;
    border: none;
}

.results-table2 td {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}

.results-table3 th, .results-table3 td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
    z-index: 0;
    border: none;
}

.results-table3 td {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
}

.mapCode {
    color: rgb(255, 255, 255);
}

.mapName, .mapType, .mapCreator, .mapDifficulty, .mapQuality {
    color: #fff;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-container button:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.pagination-container button:hover {
    background-color: #777;
}

.pagination-container span {
    color: #fff;
    padding: 5px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    user-select: none;
}

.dropdown-toggle {
    font-family: 'Mona Sans', Arial, Helvetica, sans-serif;
    width: 140px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #2b2b2b;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    color: #2b2b2b;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.dropdown.show .dropdown-content {
    display: block;
}

.dropdown-content label {
    display: block;
    padding: 4px 0;
}

.dropdown-item {
    display: block;
    padding: 4px 2px 2px 7px;
}

.dropdown-item2 {
    display: block;
    padding: 4px 2px 2px 7px;
}

.dropdown-item:hover {
    background-color: #333333;
    color: #ffffff;
}

.checkbox-label {
    display: flex;
    align-items: center;
    padding: 4px 0;
    cursor: pointer;
    text-align: left;
}

.checkbox-label input[type="checkbox"] {
    margin-right: 8px;
}

.dropdown-content input[type="checkbox"]:checked {
    accent-color: #333333;
}

.checkbox-label input[type="checkbox"]:hover {
    accent-color: #5e5e5e;
}

.white-link {
    color: white;
    text-decoration: none;
    position: relative;
}

.white-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

.white-link:hover::after {
    width: 100%;
}

.details-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    background-color: #777;
}

#detailsModalOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#detailsModalBox {
    background-color: #2b2b2b;
    border-radius: 8px;
    padding: 20px;
    max-width: 700px;
    width: 100%;
    max-height: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

#detailsModalClose {
    position: absolute;
    top: -4px;
    right: 5px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

#detailsModalClose:hover {
    color: #ccc;
}

#modalContentFrame {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
}

#modalTextSection {
    flex-grow: 1;
    color: #fff;
    font-size: 14px;
    line-height: 1.6;
}

#modalTextSection h2 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 15px;
}

#modalLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    width: 100%;
}

#chartContainer {
    width: 630px;
    height: 400px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #333333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.map-graph {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    height: 80vh;
    background-color: #333333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#modalBannerSection {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-banner-image {
    max-width: 250px;
    max-height: 150px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.medals-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}

.medal-image {
    width: 40px;
    height: 40px;
}


.medal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.medal-time {
    color: #fff;
    font-size: 0.9em;
    margin-top: 5px;
    text-align: center;
}

.results-table th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: center;
}

.results-table td {
    padding: 12px 15px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    border: none;
}

.results-table2 th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: center;
}

.results-table2 td {
    padding: 12px 15px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    border: none;
}

.results-table3 th {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: bold;
    padding: 12px 15px;
    text-align: center;
}

.results-table3 td {
    padding: 12px 15px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    border: none;
}

.cell-content {
    position: relative;
    z-index: 2;
}

.details-btn:hover {
    background-color: #777;
}

.results-table th,
.results-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.results-table2 th,
.results-table2 td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.results-table3 th,
.results-table3 td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.row-wrapper {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.row-wrapper2 {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.row-wrapper3 {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.details-btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    background-color: #777;
}

.results-table,
.inner-table {
    table-layout: fixed;
    /*border-collapse: collapse;*/
}

.results-table2,
.inner-table2 {
    table-layout: fixed;
    /*border-collapse: collapse;*/
}

.results-table3,
.inner-table3 {
    table-layout: fixed;
    /*border-collapse: collapse;*/
}

.results-table th,
.results-table td,
.inner-table td {
    padding: 12px 15px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border: none;
}

.results-table2 th,
.results-table2 td,
.inner-table2 td {
    padding: 12px 15px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border: none;
}

.results-table3 th,
.results-table3 td,
.inner-table3 td {
    padding: 12px 15px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    border: none;
}

td.row-wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

td.row-wrapper2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

td.row-wrapper3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


.inner-table {
    width: 100%;
    table-layout: fixed;
    position: relative;
    z-index: 1;
    transform-origin: center;
}

.inner-table2 {
    width: 101%;
    table-layout: fixed;
    position: relative;
    z-index: 1;
    margin-left: -4px;
    transform-origin: center;
}

.inner-table3 {
    width: 101%;
    table-layout: fixed;
    position: relative;
    z-index: 1;
    margin-left: -4px;
    transform-origin: center;
}

.inner-table:hover {
    background-color: #333333;
}

.inner-table2:hover {
    background-color: #333333;
}

.inner-table3:hover {
    background-color: #333333;
}

.inner-table td {
    padding: 5px 15px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: transparent;
}

.inner-table td.mapCode {
    text-align: left;
    padding-left: 30px;
}

.inner-table td.mapName {
    padding-left: 0px;
}

.inner-table td.mapType {
    padding-right: 22px;
}

.inner-table td.quality {
    padding-right: 2px;
}

.inner-table td.gold {
    padding-right: 0px; 
}

.inner-table td.silver {
    padding-right: 14px;
}

.inner-table td.bronze {
    padding-right: 21px; 
}

.inner-table td.details {
    text-align: right;
    padding-right: 32px; 
}

.inner-table td.details > div {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inner-table2 td {
    padding: 5px 15px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: transparent;
}

.inner-table2 td.mapCode {
    padding-left: 0px;
}

.inner-table2 td.nickname {
    padding-left: 10px;
}

.inner-table2 td.time {
    padding-right: 4px;
}

.inner-table2 td.medal {
    padding-right: 6px;
}

.inner-table2 td.video {
    padding-right: 0px; 
}

.inner-table3 td {
    padding: 5px 15px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: transparent;
}

.inner-table3 td.mapCode {
    padding-left: 0px;
}

.inner-table3 td.nickname {
    padding-left: 6px;
}

.inner-table3 td.time {
    padding-right: 0px;
}

.inner-table3 td.medal {
    padding-right: 0px;
}

.inner-table.gold-halo {
    overflow: visible;
    position: relative;
}

.inner-table.gold-halo {
    box-shadow: 0 0 10px 2px rgba(255, 215, 0, 0.8);
    animation: glow 5s linear infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px 2px rgba(255, 215, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 10px 4px rgba(255, 215, 0, 1);
    }
    100% {
        box-shadow: 0 0 5px 2px rgba(255, 215, 0, 0.8);
    }
}

.inner-table.silver-halo {
    overflow: visible;
    position: relative;
}

.inner-table.silver-halo {
    box-shadow: 0 0 10px 2px rgba(192, 192, 192, 0.8);
    animation: silver-glow 5s linear infinite;
}

@keyframes silver-glow {
    0% {
        box-shadow: 0 0 5px 2px rgba(192, 192, 192, 0.8);
    }
    50% {
        box-shadow: 0 0 10px 4px rgba(192, 192, 192, 1);
    }
    100% {
        box-shadow: 0 0 5px 2px rgba(192, 192, 192, 0.8);
    }
}

.inner-table.bronze-halo {
    overflow: visible;
    position: relative;
}

.inner-table.bronze-halo {
    box-shadow: 0 0 10px 2px rgba(205, 127, 50, 0.8);
    animation: bronze-glow 5s linear infinite;
}

@keyframes bronze-glow {
    0% {
        box-shadow: 0 0 5px 2px rgba(205, 127, 50, 0.8);
    }
    50% {
        box-shadow: 0 0 10px 4px rgba(205, 127, 50, 1);
    }
    100% {
        box-shadow: 0 0 5px 2px rgba(205, 127, 50, 0.8);
    }
}

:root {
    --loading-duration: 4s;
}

#loadingContainer {
    display: none;
    position: relative;
    height: 50px;
    width: 100%;
    margin: auto;
}

.line {
    position: absolute;
    top: 50%;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    height: 3px;
    background: rgba(255, 255, 255, 0.1);
}

.line:before {
    animation: progress1 var(--loading-duration) infinite;
    transform-origin: 0 0;
    content: "";
    display: block;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 1));
}

.line:after {
    content: "";
    position: absolute;
    animation: progress2 var(--loading-duration) infinite;
    transform-origin: 90% 50%;
    margin-left: -24px;
    top: -9px;
    width: 30px;
    height: 21px;
    border-radius: 2px;
    background: rgba(210, 189, 255, 0.55);
    filter: blur(8px);
    box-shadow: 0 0 10px 6px rgba(210, 189, 255, 0.4),
                -20px 0 15px 4px rgba(210, 189, 255, 0.3),
                -40px 0 15px 2px rgba(210, 189, 255, 0.2),
                -60px 0 10px 1px rgba(210, 189, 255, 0.1),
                -80px 0 10px 1px rgba(210, 189, 255, 0.05);
}

@keyframes progress1 {
    0% {
        transform: scaleX(0);
        opacity: 0.5;
    }
    90% {
        transform: scaleX(1);
        opacity: 1;
    }
    92% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(1);
        opacity: 0;
    }
}

@keyframes progress2 {
    0% {
        transform: scale(0.3, 0.8) translateZ(0);
        opacity: 0;
    }
    90% {
        transform: scale(1, 1) translateX(300px) translateZ(0);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1) translateX(300px) translateZ(0);
        opacity: 0;
    }
}

.rounded-iframe {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
