RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-For} !^$
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

RewriteCond %{HTTP:X-Forwarded-For} !^$
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [L,R=301]